@font-face {
    font-family: 'High Tide Geometric';
    src: url('../fonts/HighTide.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-padding-top: 42px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #c3d9f8;
    background-color: #03313d;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
    width: 100%;
}

main {
    width: 57%;
    margin: 20px 0px;
}

footer {
    background-color: #0c6980;
}

nav {
    width: 100%;
    background-color: #03313d;

    display: flex;
    justify-content: center;
    
    list-style-type: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    border-radius: 20px;
	margin-right: 10px;
	padding: 5px 10px 10px;
	text-decoration: none;
	font-family: 'High Tide Geometric', Georgia, 'Times New Roman', Times, serif;
	color: #c3d9f8;
}

a:hover {
	background-color: #c3d9f8;
    color: #0c6980;
    cursor: pointer;
}

section {
    padding-bottom: 2%;
}

h2, h3 {
    font-family: 'High Tide Geometric', Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

.sticky	{
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;

    margin-bottom: 10px;
    border-bottom: 2px solid #0c6980;
    padding: 5px 0px;

    background-color: #03313d;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}