@font-face {
    font-family: 'High Tide Geometric';
    src: url('../fonts/HighTide.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-padding-top: var(--header-height);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #c3d9f8;
    background-color: #03313d;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    width: 57%;
    margin-top: var(--header-height);
}

footer {
    background-color: #0c6980;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    display: flex;
    justify-content: center;
    
    list-style-type: none;
}

nav ul {
    display: flex;
    gap: 10rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

section {
    padding-bottom: 2%;
}

h2, h3 {
    font-family: 'High Tide Geometric', Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

#nav {
    position: sticky;
    top: calc(var(--header-height) + 10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    
}